* {
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar {
  background-color: #85ffbd;
  background-image: linear-gradient(215deg, #85ffbd 0%, #fffb7d 100%);
}

/* heading */
#page-heading {
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
  margin-top: 1rem;
  color: darkslategray;
}

.container-fluid > img {
  width: 43x;
  height: 43px;
  margin-right: 15px;
}

/* card background color */
.card {
  background-color: #c9dbd2;
}

/* meal details */
#heading {
  color: rgb(120, 91, 167);
  font-weight: 700;
  font-size: 3rem;
}
#instructions {
  color: #023079;
}

#photo img {
  width: 350px;
  height: 450px;
  background-size: 100% 100%;
}
